.MyBetsPage-table {
    border-radius: 10px;
    width: 55%;
    margin: auto;
    display: block;
    height: 350px;
    overflow-y: scroll;
  }

  .add-bet-form {
    margin: auto;
    width: 40%;

  }

  h3 {
    margin: auto;
    
  }

  .select-close-out {
    width: 70%;
  }



 
